/* PLAYER SECTION */

.player-section {
    margin: 0;
    margin-top: 64px;
    width: 100%;
    height: auto;
    background-color: #2F2E34;
    padding: 26px 0;
}

.player-content {
    max-width: calc(100% - 640px);
    min-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.switch-players {
    display: flex;
    gap: 16px;
}

.switch-players div {
    width: 104px;
    height: 33px;
    border-radius: 10px;
    background-color: #6D8EEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik';
    font-family: 400;
    font-size: 16px;
    color: #F1F1F1;
    cursor: pointer;
}

.player {
    margin-top: 10px;
    border-radius: 20px;
}

.player {
    --plyr-color-main: #6D8EEB;
    --plyr-video-background: #514F5A;
    animation: showPlayer 1s ease-in-out forwards;
}

@keyframes showPlayer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}