
.jar-donate {
    position: fixed;
    bottom: 50px;
    right: 160px;
    z-index: 2;
}

.jar-donate img {
    width: 98px;
    height: 140px;
    cursor: pointer;
}

.sticky {
    /* position: fixed;
    top: 130px;
    right: 160px;
    z-index: 1000; */
}