
.edit-title {
    margin: 0;
    font-family: 'Madimi One';
    font-weight: 400;
    font-size: 20px;
    color: #F1F1F1;
}

.text {
    margin: 0;
    margin-top: 16px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 14px;
    color: #C9C8DA;
}

.send-btn {
    position: absolute;
    right: calc(50% - 130px);
    transform: translate(-50%, 0);
    width: 160px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-radius: 16px;
    background-color: #6D8EEB;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    color: #F1F1F1;
    cursor: pointer;
}